<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Intake <span class="glyphicon glyphicon-file"></span></li>
      <li class="breadcrumb-item">Verification <span class="glyphicon glyphicon-check"></span></li>
      <li class="breadcrumb-item"><a href="data-form">Data Collection <span class="glyphicon glyphicon-list-alt"></span></a></li>
      <li class="breadcrumb-item active"><a href="#" style="text-decoration:underline !important">Report Generation <span class="glyphicon glyphicon-download-alt"></span></a></li>
      <li class="breadcrumb-item">Final Review <span class="glyphicon glyphicon-user"></span></li>
      <li class="breadcrumb-item">Delivery <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    </ol>
  </nav>

  <!--<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Intake</a></li>
      <li class="breadcrumb-item active">Library</li>
    </ol>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active">Data</li>
    </ol>
  </nav>-->

  <form (ngSubmit)="onSubmit()" #menuForm="ngForm" style="margin-top:20px !important;">
    <table datatable data-order='' class="hover" data-sortable="false">
      <thead style="font-size:18px;">
        <tr>
          <th>&nbsp;</th>
          <th style="width:150px">Category</th>
          <th>Label</th>
          <th>Value</th>
          <th>Show Label</th>
          <th>Show Value</th>
          <th>Source(s)</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><input type="checkbox" checked (change)="hrShowHide(hrshowhide.checked)" #hrshowhide id="hrshowhide"></td>
            <td><a class="btn btn-link" (click)="hrShowHide(hrExpanded == true ? false: true)"><span *ngIf="hrExpanded" class="glyphicon glyphicon-chevron-down"></span><span *ngIf="!hrExpanded" class="glyphicon glyphicon-chevron-right"></span>HR/PII</a><a class="btn btn-link" (click)="joyrideActivate()"><span class="glyphicon glyphicon-info-sign"></span></a></td>
            <td><label for="first_nameL">First Name</label></td>
            <td>Paul</td>
            <td><input type="checkbox" id="first_nameL" #first_nameL [checked]="hrshowhide.checked" name="first_nameL" (change)="model.first_nameL == 'true' ? model.first_nameL = 'false' : model.first_nameL = 'true'"></td>
            <td><input type="checkbox" id="first_nameV" [checked]="first_nameL.checked && hrshowhide.checked" name="first_nameV" (change)="model.first_nameV == 'true' ? model.first_nameV = 'false' : model.first_nameV = 'true'"></td>
            <td matTooltip="Marketing, Eagle Intelligence, Digital Channels"><span class="glyphicon glyphicon-info-sign" style="color:blue !important"></span>&nbsp;(3)</td>
          </tr>
      </tbody>
      <tbody *ngIf="hrExpanded">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><label for="middle_nameL">Middle Name</label></td>
          <td>Edwin</td>
          <td><input type="checkbox" id="middle_nameL" #middle_nameL [checked]="hrshowhide.checked" name="middle_nameL" (change)="model.middle_nameL == 'true' ? model.middle_nameL = 'false' : model.middle_nameL = 'true'"></td>
          <td><input type="checkbox" id="middle_nameV" [checked]="middle_nameL.checked && hrshowhide.checked" name="middle_nameV" (change)="model.middle_nameV == 'true' ? model.middle_nameV = 'false' : model.middle_nameV = 'true'"></td>
          <td matTooltip="Marketing, Eagle Intelligence, PWM, Digital Channels"><span class="glyphicon glyphicon-info-sign" style="color:blue !important"></span>&nbsp;(4)</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><label for="last_nameL">Last Name</label></td>
          <td>Yeager</td>
          <td><input type="checkbox" id="last_nameL" #last_nameL [checked]="hrshowhide.checked" name="last_nameL" (change)="model.last_nameL == 'true' ? model.last_nameL = 'false' : model.last_nameL = 'true'"></td>
          <td><input type="checkbox" id="last_nameV" [checked]="last_nameL.checked && hrshowhide.checked" name="last_nameV" (change)="model.last_nameV == 'true' ? model.last_nameV = 'false' : model.last_nameV = 'true'"></td>
          <td>Eagle Intelligence</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><label for="emailL">EMail</label></td>
          <td>pyeager@firstrepublic.com</td>
          <td><input type="checkbox" id="emailL" #emailL [checked]="hrshowhide.checked" name="emailL" (change)="model.emailL == 'true' ? model.emailL = 'false' : model.emailL = 'true'"></td>
          <td><input type="checkbox" id="emailV" [checked]="emailL.checked && hrshowhide.checked" name="emailV" (change)="model.emailV == 'true' ? model.emailV = 'false' : model.emailV = 'true'"></td>
          <td>PWM</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><label for="mailing1L">Mailing Address 1</label></td>
          <td>One Front Street   SF, CA</td>
          <td><input type="checkbox" id="mailing1L" #mailing1L [checked]="hrshowhide.checked" name="mailing1L" (change)="model.mailing1L == 'true' ? model.mailing1L = 'false' : model.mailing1L = 'true'"></td>
          <td><input type="checkbox" id="mailing1V" [checked]="mailing1L.checked && hrshowhide.checked" name="mailing1V" (change)="model.mailing1V == 'true' ? model.mailing1V = 'false' : model.mailing1V = 'true'"></td>
          <td>Marketing</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><label for="mailing2L">Mailing Address 2</label></td>
          <td>37 Ellis Street</td>
          <td><input type="checkbox" id="mailing2L" #mailing2L [checked]="hrshowhide.checked" name="mailing2L" (change)="model.mailing2L == 'true' ? model.mailing2L = 'false' : model.mailing2L = 'true'"></td>
          <td><input type="checkbox" id="mailing2V" [checked]="mailing2L.checked && hrshowhide.checked" name="mailing2V" (change)="model.mailing2V == 'true' ? model.mailing2V = 'false' : model.mailing2V = 'true'"></td>
          <td>Marketing</td>
        </tr>
      </tbody>
      <!--<tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="phoneL">Phone</label></td>
        <td>252-235-8335</td>
        <td><input type="checkbox" id="phoneL" [checked]="hrshowhide.checked" [(ngModel)]="model.phoneL" name="phoneL"></td>
        <td><input type="checkbox" id="phoneV" [checked]="hrshowhide.checked" [(ngModel)]="model.phoneV" name="phoneV"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="zipcodeL">Zipcode</label></td>
        <td>94930</td>
        <td><input type="checkbox" id="zipcodeL" required></td>
        <td><input type="checkbox" id="zipcodeV" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="codeOTheDayL">Code of the Day</label></td>
        <td>&lt;redacted&gt;</td>
        <td><input type="checkbox" id="codeOTheDayL" required></td>
        <td><input type="checkbox" id="codeOTheDayV" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="socialMediaURLL">Social Media URL</label></td>
        <td>NULL</td>
        <td><input type="checkbox" id="socialMediaURLL" required></td>
        <td><input type="checkbox" id="socialMediaURLV" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="socialSecurityNumberL">Social Security Number</label></td>
        <td>&lt;redacted&gt;</td>
        <td><input type="checkbox" id="socialSecurityNumberL" required></td>
        <td><input type="checkbox" id="socialSecurityNumberV" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="driversLicenseL">Driver's License Number</label></td>
        <td>&lt;redacted&gt;</td>
        <td><input type="checkbox" id="driversLicenseL" required></td>
        <td><input type="checkbox" id="driversLicenseV" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="passportNumberL">Passport Number</label></td>
        <td>&lt;redacted&gt;</td>
        <td><input type="checkbox" id="passportNumberL" required></td>
        <td><input type="checkbox" id="passportNumberV" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="passportNationL">Passport Nation</label></td>
        <td>&lt;redacted&gt;</td>
        <td><input type="checkbox" id="passportNationL" required></td>
        <td><input type="checkbox" id="passportNationV" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="ageL">Age</label></td>
        <td>38</td>
        <td><input type="checkbox" id="passportNationL" required></td>
        <td><input type="checkbox" id="passportNationV" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><label for="otherNamesUsedInThePastL">Other Names Used In The Past</label></td>
        <td>NULL</td>
        <td><input type="checkbox" id="passportNationL" required></td>
        <td><input type="checkbox" id="passportNationV" required></td>
      </tr>-->
      <tbody>
        <tr>
          <td><input type="checkbox" checked (change)="healthShowHide(healthshowhide.checked)" #healthshowhide></td>
          <td><a class="btn btn-link" (click)="healthShowHide(healthExpanded == true ? false: true)"><span *ngIf="healthExpanded" class="glyphicon glyphicon-chevron-down"></span><span *ngIf="!healthExpanded" class="glyphicon glyphicon-chevron-right"></span>Health/PHI</a><a class="btn btn-link" (click)="joyrideActivate()"><span class="glyphicon glyphicon-info-sign"></span></a></td>
          <td><label for="dxL">Medical Diagnosis</label></td>
          <td>Active Worker</td>
          <td><input type="checkbox" id="dxL" #dxL [checked]="healthshowhide.checked" name="dxL" (change)="model.dxL == 'true' ? model.dxL = 'false' : model.dxL = 'true'"></td>
          <td><input type="checkbox" id="dxV" [checked]="dxL.checked && healthshowhide.checked" name="dxV" (change)="model.dxV == 'true' ? model.dxV = 'false' : model.dxV = 'true'"></td>
          <td>Marketing</td>
        </tr>
      <tbody>
      <tbody *ngIf="healthExpanded">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><label for="rxL">Medical Prescription</label></td>
          <td>CoQ10AndLecithin</td>
          <td><input type="checkbox" id="rxL" #rxL [checked]="healthshowhide.checked" name="rxL" (change)="model.rxL == 'true' ? model.rxL = 'false' : model.rxL = 'true'"></td>
          <td><input type="checkbox" id="rxV" [checked]="rxL.checked && healthshowhide.checked" name="rxV" (change)="model.rxV == 'true' ? model.rxV = 'false' : model.rxV = 'true'"></td>
          <td>Marketing</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><label for="bloodGrpL">Blood Group</label></td>
          <td>O-Positive</td>
          <td><input type="checkbox" id="bloodGrpL" #bloodGrpL [checked]="healthshowhide.checked" name="bloodGrpL" (change)="model.bloodGrpL == 'true' ? model.bloodGrpL = 'false' : model.bloodGrpL = 'true'"></td>
          <td><input type="checkbox" id="bloodGrpV" [checked]="bloodGrpL.checked && healthshowhide.checked" name="bloodGrpV" (change)="model.bloodGrpV == 'true' ? model.bloodGrpV = 'false' : model.bloodGrpV = 'true'"></td>
          <td>Marketing</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td><input type="checkbox" checked (change)="finTechShowHide(fintechshowhide.checked)" #fintechshowhide></td>
          <td><a class="btn btn-link" (click)="finTechShowHide(finTechExpanded == true ? false: true)"><span *ngIf="finTechExpanded" class="glyphicon glyphicon-chevron-down"></span><span *ngIf="!finTechExpanded" class="glyphicon glyphicon-chevron-right"></span>FinTech/PCI</a><a class="btn btn-link" (click)="joyrideActivate()"><span class="glyphicon glyphicon-info-sign"></span></a></td>
          <td><label for="nonPciAcctL">PCI-Protected Account</label></td>
          <td>1234566</td>
          <td><input type="checkbox" id="nonPciAcctL" #nonPciAcctL [checked]="fintechshowhide.checked" name="nonPciAcctL" (change)="model.nonPciAcctL == 'true' ? model.nonPciAcctL = 'false' : model.nonPciAcctL = 'true'"></td>
          <td><input type="checkbox" id="nonPciAcctV" [checked]="nonPciAcctL.checked && fintechshowhide.checked" name="nonPciAcctV" (change)="model.nonPciAcctV == 'true' ? model.nonPciAcctV = 'false' : model.nonPciAcctV = 'true'"></td>
          <td>Digitial Channels</td>
        </tr>
      </tbody>
      <tbody *ngIf="finTechExpanded">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><label for="nonPciSecDigitzV">PCI-Protected Security Code</label></td>
          <td>345</td>
          <td><input type="checkbox" id="nonPciSecDigitzL" #nonPciSecDigitzL [checked]="fintechshowhide.checked" name="nonPciSecDigitzL" (change)="model.nonPciSecDigitzL == 'true' ? model.nonPciSecDigitzL = 'false' : model.nonPciSecDigitzL = 'true'"></td>
          <td><input type="checkbox" id="nonPciSecDigitzV" [checked]="nonPciSecDigitzL.checked && fintechshowhide.checked" name="nonPciSecDigitzV" (change)="model.nonPciSecDigitzV == 'true' ? model.nonPciSecDigitzV = 'false' : model.nonPciSecDigitzV = 'true'"></td>
          <td>Digital Channels</td>
        </tr>
      </tbody>
    </table>

    <br><br>

    <button type="submit" class="btn btn-success">Submit</button>

    <div joyrideStep="firstStep" title="Helpful Hints #1" text="Hi, Welcome to Privacy Protect0r report generation application! I was developed in Angular with a NodeJS/ExpressJS server stack. Enjoy!"></div>
    <div style="position:absolute;left:15px;top:120px;" joyrideStep="secondStep" title="Helpful Hints #2" text="You can filter in/out an entire Category over here using the checkboxes in the far left column!"></div>
    <div styyle="position:absolute;right:15px !important;top:120px;" joyrideStep="thirdStep" title="Helpful Hints #3" text="Please note that if you un-select a Label checkbox that this un-selects the respective Value checkbox and likewise removes the field with its Label-and-Value from the generated XLSX report."></div>
    <div style="position:absolute;left:15px;bottom:120px;" joyrideStep="fourthStep" title="Helpful Hints #4" text="Upon clicking or tapping Submit you will receive an Excel document arranged according to your PrivacyProtect0r preferences!"></div>

    <!--<br><br>Diagnostic Form Data Debug: {{diagnostic}}-->
  </form>
</div>
