<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Intake <span class="glyphicon glyphicon-file"></span></li>
      <li class="breadcrumb-item">Verification <span class="glyphicon glyphicon-check"></span></li>
      <li class="breadcrumb-item active"><a href="#" style="text-decoration:underline !important">Data Collection <span class="glyphicon glyphicon-list-alt"></span></a></li>
      <li class="breadcrumb-item"><a href="menu-form">Report Generation <span class="glyphicon glyphicon-download-alt"></span></a></li>
      <li class="breadcrumb-item">Final Review <span class="glyphicon glyphicon-user"></span></li>
      <li class="breadcrumb-item">Delivery <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    </ol>
  </nav>

  <fieldset style="border:1px dashed black;padding:5px;">
    <legend style="border:none">Submitted Request</legend>
    <div class="row">
      <div class="col-xs-2">Status:</div><div class="col-xs-4">Pending-Review</div><div class="col-xs-2">Type:</div><div class="col-xs-4">Inquiry</div>
    </div>
    <div class="row">
      <div class="col-xs-2">Repeat Request:</div><div class="col-xs-10">No</div>
    </div>
    <div class="row">
      <div class="col-xs-2">First Name:</div><div class="col-xs-4">Paul</div><div class="col-xs-2">Last Name:</div><div class="col-xs-4">Yeager</div>
    </div>
    <div class="row">
      <div class="col-xs-2">DOB:</div><div class="col-xs-4">7/28/1981</div><div class="col-xs-2">TIN:</div><div class="col-xs-4">12-3456789</div>
    </div>
    <div class="row">
      <div class="col-xs-2">Phone:</div><div class="col-xs-4">252-235-8335</div><div class="col-xs-2">Email:</div><div class="col-xs-4">pyeager@firstrepublic.com</div>
    </div>
    <div class="row">
      <div class="col-xs-2">FRB Acct #:</div><div class="col-xs-4">000777302746</div><div class="col-xs-2">Requestor:</div><div class="col-xs-4">Account Holder</div>
    </div>
    <div class="row">
      <div class="col-xs-2">Client Status:</div><div class="col-xs-4">Active</div><div class="col-xs-2">Comments:</div><div class="col-xs-4">Please verify with RM.</div>
    </div>
  </fieldset>

  <br>

  <fieldset style="border-top:1px dashed black;border:1px dashed black;border-bottom:none;padding:5px;">
    <legend style="border:none">Select Report Fields to Expose</legend>
    <form [formGroup]="grp" id="dataForm" name="dataForm" #dataForm novalidate>
      <table datatable data-order='' class="hover" data-sortable="false" style="border-collapse:collapse">
        <tbody>
          <tr *ngFor="let key of keysAsArr; let index = index" [hidden]="index > 0 && !hiddenRows[index]">
            <td>
              <mat-form-field style="width:300px">
                <input type="text" placeholder="Select A Field to Expose" matInput [formControl]="grp[key]"
                  [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event, index)">
                  <mat-option *ngFor="let val of filteredValues" [value]="val">
                    {{val}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td><input type="text" matInput [value]="optionSelection[index] || ''"></td>
            <td>{{catSelection[index]}}</td>
            <td><input type="button" md-button-raised (click)="showMoreRows(index)" value="Collect More Fields(+)"></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-success" style="margin-top:20px" [disabled]="dataForm.invalid" (click)="onSubmit(dataForm)">Submit</button>
    </form>
  </fieldset>
</div>
