<div [className]="spinnerShown ? 'container opacity' : 'container'">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Intake <span class="glyphicon glyphicon-file"></span></li>
      <li class="breadcrumb-item">Verification <span class="glyphicon glyphicon-check"></span></li>
      <li class="breadcrumb-item active"><a href="#" style="text-decoration:underline !important">Data Collection <span class="glyphicon glyphicon-list-alt"></span></a></li>
      <li class="breadcrumb-item"><a href="/menu-form">Report Generation <span class="glyphicon glyphicon-download-alt"></span></a></li>
      <li class="breadcrumb-item">Final Review <span class="glyphicon glyphicon-user"></span></li>
      <li class="breadcrumb-item">Delivery <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    </ol>
  </nav>

  <div *ngIf="!alertHide" class="alert alert-success" id="alert">
    <button type="button" class="close" (click)="alertHide = true">&times;</button>
    <strong>Please note:</strong> this product for prototype and Proof of Concept purposes only.
  </div>

  <fieldset style="border:1px dashed black;padding:5px;">
    <legend *ngIf="!reqDetailsIsCollapsed" (click)="reqDetailsIsCollapsed = true" style="cursor:pointer !important; border:none">&#9660; Request Details</legend>
    <legend *ngIf="reqDetailsIsCollapsed" (click)="reqDetailsIsCollapsed = false" style="cursor:pointer !important; border:none">&#9658; Request Details</legend>
    <div *ngIf="!reqDetailsIsCollapsed" style="width:90%;margin:0 auto;margin-bottom:10px;">
      <div class="row">
        <div class="col-xs-2 label-bold">Status:</div><div class="col-xs-4">Report Data Collection <span class="glyphicon glyphicon-edit"></span></div><div class="col-xs-2 label-bold">Type:</div><div class="col-xs-4">Inquiry</div>
      </div>
      <div class="row">
        <div class="col-xs-2 label-bold">Repeat Request:</div><div class="col-xs-10">No</div>
      </div>
      <div class="row">
        <div class="col-xs-2 label-bold">First Name:</div><div class="col-xs-4">Paul</div><div class="col-xs-2 label-bold">Last Name:</div><div class="col-xs-4">Yeager</div>
      </div>
      <div class="row">
        <div class="col-xs-2 label-bold">DOB:</div><div class="col-xs-4">7/28/1981</div><div class="col-xs-2 label-bold">TIN:</div><div class="col-xs-4">12-3456789</div>
      </div>
      <div class="row">
        <div class="col-xs-2 label-bold">Phone:</div><div class="col-xs-4">252-235-8335</div><div class="col-xs-2 label-bold">Email:</div><div class="col-xs-4">pyeager@firstrepublic.com</div>
      </div>
      <div class="row">
        <div class="col-xs-2 label-bold">FRB Acct #:</div><div class="col-xs-4">000777302746 <span class="glyphicon glyphicon-knight" (click)="openSnackBar()"></span></div><div class="col-xs-2 label-bold">Requestor:</div><div class="col-xs-4">Account Holder <span class="glyphicon glyphicon-user orange"></span></div>
      </div>
      <div class="row">
        <div class="col-xs-2 label-bold">Client Status:</div><div class="col-xs-4"><button color="secondary" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">Active <span class="glyphicon glyphicon-ok-circle"></span></button></div><div class="col-xs-2 label-bold">Comments:</div><div class="col-xs-4">Please verify with RM ( <span class="glyphicon glyphicon-comment" matTooltip="... and also with Access Management" aria-label="Button that displays a tooltip with the additional comments when hovered or clicked"></span> )</div>
      </div>
    </div>
  </fieldset>

  <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
    <mat-card style="max-width: 300px">
      <mat-card-content>The Active status demonstrates that the record has been fully-vetted as being active by FRB Regulatory Compliance.</mat-card-content>
    </mat-card>
  </mde-popover>

  <br>

  <fieldset style="border:1px dashed black;padding:5px;">
    <legend *ngIf="!reqActivityIsCollapsed" (click)="reqActivityIsCollapsed = true" style="cursor:pointer !important;border:none">&#9660; Request Activity</legend>
    <legend *ngIf="reqActivityIsCollapsed" (click)="reqActivityIsCollapsed = false" style="cursor:pointer !important;border:none">&#9658; Request Activity</legend>
    <div *ngIf="!reqActivityIsCollapsed" style="width:90%;margin:0 auto;margin-bottom:10px;">
      <div class="row" style="border-bottom:1px solid black;font-weight:bold;">
        <div class="col-xs-2">User</div>
        <div class="col-xs-2">Role</div>
        <div class="col-xs-2">Action</div>
        <div class="col-xs-3">Comments</div>
        <div class="col-xs-3">Time</div>
      </div>
      <div class="row">
        <div class="col-xs-2">Jeanne</div>
        <div class="col-xs-2">Legal <span class="label">L</span></div>
        <div class="col-xs-2">Approval</div>
        <div class="col-xs-3">Approving this from a ( ...<span class="glyphicon glyphicon-info-sign" matTooltip="legal perspective"></span> )</div>
        <div class="col-xs-3">9/26/2019 09:25:10 AM PDT</div>
      </div>
      <div class="row">
        <div class="col-xs-2">Will</div>
        <div class="col-xs-2">Privacy Analyst <span class="label">PA</span></div>
        <div class="col-xs-2">Add Note</div>
        <div class="col-xs-3">Spoke to RM ( ...<span class="glyphicon glyphicon-info-sign" matTooltip="...which wants to edit the request detail."></span> )</div>
        <div class="col-xs-3">9/27/2019 10:23:21 PM PDT</div>
      </div>
      <div class="row">
        <div class="col-xs-2">Alex</div>
        <div class="col-xs-2">Customer Care <span class="label-warning">CC</span></div>
        <div class="col-xs-2">Add Note</div>
        <div class="col-xs-3">Consumer called again and ( ...<span class="glyphicon glyphicon-info-sign" matTooltip="...wants to include all three of the things we had discussed with RM."></span> )</div>
        <div class="col-xs-3">9/27/2019 10:27:10 PM PDT</div>
      </div>
      <div class="row">
        <div class="col-xs-2">System</div>
        <div class="col-xs-2">System<span class="label label-inverse">S</span></div>
        <div class="col-xs-2">Status Update</div>
        <div class="col-xs-3">Status changed to Pending-Review</div>
        <div class="col-xs-3">9/28/2019 09:23:08 AM PDT</div>
      </div>
    </div>
  </fieldset>

  <br>

  <fieldset style="border-top:1px dashed black;border:1px dashed black;border-bottom:none;padding:5px;">
    <legend style="border:none">&#9660; Data Collection</legend>
    <form [formGroup]="grp" #formDir="ngForm" id="dataForm" name="dataForm" #dataForm novalidate>
      <table datatable data-order='' class="hover" data-sortable="false" style="border-collapse:collapse">
        <tbody>
          <tr *ngFor="let key of keysAsArr; let index = index" [hidden]="index > 0 && !hiddenRows[index]">
            <td style="width:100px">
              <mat-form-field style="width:300px">
                <input type="text" placeholder="Start Typing the Field Name" matInput [formControl]="fieldLabel" name="fieldLabel" (change)="onRandomValueChg($event, index)"
                  [matAutocomplete]="auto" [style]="selectionsChgd[index] ? 'background: none! important;' : 'background: yellow !important'">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event, index)">
                  <mat-option *ngFor="let val of filteredValues" [value]="val">
                    {{val}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td *ngIf="!selectionsChgd[index]">
              <button class="glyphicon glyphicon-plus" matTooltip="Click or tap here to add to dictionary"></button>
            </td>
            <td>
              <mat-form-field>
                <input [type]="dynamicType"
                  matInput
                  class="field-value"
                  placeholder="Field Value"
                  [value]="optionSelection[index] || '' || maskedPhone"
                  (click)="$event.target.value = ''; $event.target.placeholder = ''"
                  (input)="phoneMaskEnable ? $event.target.value = maskUSPhone($event.target.value) : denada();
                    ssnMaskEnable ? $event.target.value = maskSSN($event.target.value) : denada()"
                  #controlDir
                  [formControlName]="fieldValFormControlName[index]" [name]="fieldValFormControlName[index]">
              </mat-form-field>
            </td>
            <td>{{catSelection[index] || 'Category Name'}}</td>
            <td><input type="button" md-button-raised (click)="showMoreRows(index)" value="Add More Fields(+)"><span *ngIf="index > 0" (click)="hideRow(index)" class="glyphicon glyphicon-remove" matTooltip="Click/Tap to Remove the Field"></span></td>
          </tr>
        </tbody>
      </table>
      <div style="margin-top:20px;">
        <button type="submit" class="btn btn-success" style="float:left;margin-right:5px;" [disabled]="grp.invalid" (click)="onSubmit(dataForm)">Submit</button>
        <button type="submit" class="btn btn-primary" style="float:left;margin-right:5px;" (click)="spinnerShownFakeOut()">Save Draft</button>
        <button type="cancel" class="btn btn-danger" style="float:right" (click)="openDialog()">Reset</button>
      </div>
      <div style="clear:both"></div>
    </form>
  </fieldset>
</div>

<mat-progress-spinner *ngIf="spinnerShown" style="margin:-225px auto;" mode="indeterminate"></mat-progress-spinner>
