/* You can add global styles to this file, and also import other style files */
@import "https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css";

table.dataTable thead .sorting {
  background-image: none !important;
}

table.dataTable tbody {
  border-top:0px !important;
}

table.dataTable tbody tr {
  border-top:0px !important;
  border-bottom:0px !important;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
